<!DOCTYPE html>

<!-- NEW COMMENT FORM -->
<form name="formComment" ng-submit="formComment.$valid && submitComment()" novalidate="">
    <!-- ng-submit will disable the default form action and use our function -->

    <!-- AUTHOR -->
    <div class="form-group">
        <input type="text" class="form-control input-sm" name="author" ng-model="commentData.author"
               placeholder="Seu nome" required>
    </div>

    <div class="form-group">
        <input type="email" class="form-control input-sm" name="email" ng-model="commentData.email"
               placeholder="email@dominio.com" required>
    </div>

    <!-- COMMENT TEXT -->
    <div class="form-group">
        <input type="text" class="form-control input-lg" name="comment" ng-model="commentData.text"
               placeholder="Digite um comentário" required>
    </div>

    <!-- SUBMIT BUTTON -->
    <div class="form-group text-right">
        <button ng-disabled="formComment.$invalid" type="submit" class="btn btn-success btn-lg">Enviar</button>
    </div>
</form>